[2014-01-12 19:17] kaffo opened #1 "Get upload working nicely"
At the moment. It's disgusting. Need to tidy up the form, take the data in correctly, push it to the database etc.

[2014-01-12 19:20] kaffo opened #2 "Working Query from Front End"
We have a working RESTful API for grabbing data from the backend database (/webapp/getdata<box>) which will return a whole bunch of information in JSON. Someone needs to get the bounding box of the map using lon and lat then pass that to the gatdata function so we can return the JSON with the details.

[2014-01-12 19:22] kaffo opened #3 "Show data pulled from backend"
Once we get data from the back end (see issue #2) we need to parse and show that on our map using pins.

[2014-01-12 19:25] kaffo opened #4 "Get Buzz playing sounds from the correct location."
Buzz needs to use the meta data we got from the JSON (see issue #2) to locate the sound file (they'll all be in the same folder) and play it through the user's browser.

[2014-01-12 19:28] kaffo opened #5 "Front end map gets Buzz to play sound from pin click"
This is a fairly final issue #2 #3 #4 need to be completed for this issue to be completed. We want to click a pin on the map and have Buzz play that sound.

[2014-01-12 19:41] kaffo opened #6 "Make the front end super pretty"
The front end needs to look like the sex. Once it's finished I want to pass out with joy just going to the home page.

[2014-01-12 19:56] kaffo commented on #1
Jumping into this now, shouldn't be too hard to arrange the meta stuff in the form.

[2014-01-12 20:19] calxus commented on #6
working on this now, I've got a significantly better menu going. Used from purecss.io

[2014-01-12 20:43] kaffo commented on #1
Got a form up, can fill it in and saves all the data to the database correctly. Yay! Only thing not sorted is grabbing meta data. Which won't be fun.

[2014-01-12 21:29] kaffo commented on #1
Found this neat python package to parse metadata for the oog files (specifically to grab the length) https://pypi.python.org/pypi/hachoir-metadata/1.2.1
Will need to confer with the app team to discuss how to parse location/time data.

[2014-01-12 22:06] calxus commented on #6
Menu is working fine on the page, if you shrink the browser the menu will hide itself unless the browser is once again enlarged or you ask to see the menu.
It is also a little less offensive on the eyes as compared to the previous ui.

[2014-01-12 22:09] calxus commented on #2
I will get working on this

[2014-01-14 14:30] kaffo opened #7 "Get the crazy timeline actually functional"
It's pretty. Now make it actually work

[2014-01-14 23:12] calxus commented on #2
can query the database now with

$.get(
        "/webapp/getdata:" + swLat + ":" + swLng + ":" + neLat + ":" + neLng,
        function(data) {
}

[2014-01-14 23:13] calxus commented on #2
and lat/lng is obtained with:

var sw = bounds.getSouthWest();
var ne = bounds.getNorthEast();
var swLat = sw.lat();
var swLng = sw.lng();
var neLat = ne.lat();
var neLng = ne.lng();

[2014-01-14 23:15] calxus commented on #3
on the webpage this is working now and the title of the file uploaded is displayed when a pin is clicked along with the description as well

[2014-01-15 15:43] calxus commented on #5
I will start on this tonight, If nobody else takes up this ticket first.

[2014-01-15 15:47] #3 closed, assigned to calxus

[2014-01-15 15:48] #2 closed, assigned to calxus

[2014-01-15 15:49] calxus commented on #6
this ticket still has a few things to be tweaked

[2014-01-15 15:56] allyjweir commented on #7
working on a prototype pulling data from a json file

[2014-01-15 17:21] allyjweir commented on #7
see notes from commit

[2014-01-15 17:28] allyjweir commented on #7
Using this will be able to generate JSON from the db. Will work on this tonight.

http://www.anthonydebarros.com/2012/03/11/generate-json-from-sql-using-python/

[2014-01-15 17:52] allyjweir commented on #7
of course django already has a function for that https://docs.djangoproject.com/en/1.6/topics/serialization/

[2014-01-15 19:36] calxus commented on #5
It works when I run this on a local server but not from the remote server, very infuriating. for some reason /webapp/ is prepended onto the links when I run it on the penida server. I will look at this and give a shot at fixing it later tonight

[2014-01-15 20:02] kaffo commented on #1
They do! I forgot to close this!

[2014-01-15 20:02] #1 closed, assigned to kaffo

[2014-01-15 20:41] calxus commented on #5
Fixed it!

[2014-01-15 20:41] #5 closed, assigned to calxus

[2014-01-15 20:43] calxus commented on #4
This was completed while working on:
Issue #5 Front end map gets Buzz to play sound from pin click

[2014-01-15 20:43] #4 closed, assigned to calxus

[2014-01-15 20:44] calxus commented on #6
This will be an ongoing issue, though imo it will suffice for now.

[2014-01-17 05:28] ppyordanov commented on #7
I've been banging my head whole night trying to use custom natural keys when serializing the data in order to save it in a format compatible with the timebar. So far no much progress but will keep trying. Basically the fields in the Recordings table in the database should have specifically defined nat. keys for the timeline to be able to read the json. If you have any other ideas comment.

[2014-01-17 05:51] ppyordanov commented on #7
Helpful post, suggests designing a template: http://stackoverflow.com/questions/3055650/django-custom-serialization-options

[2014-01-17 05:54] ppyordanov commented on #7
Also, Keir has already added serialization functions in views.py, However, timeline does not accept this structure.

[2014-01-17 16:32] ppyordanov commented on #7
I contacted the creator of the timeline to ask for some advice on how to customize the serialization process of JSON. Here is the reply:

---

Peter:

Are you asking for information about how to structure the JSON? The best documentation for that is at https://github.com/NUKnightLab/TimelineJS ; our examples http://timeline.knightlab.com/examples/houston/ and http://timeline.knightlab.com/examples

[2014-01-19 14:10] ppyordanov commented on #7
The timeline JSON script generation function is ready. Now we need to fill the database with mock data and test.

[2014-01-19 14:12] allyjweir commented on #7
In sure you could script that too

[2014-01-19 15:04] ppyordanov commented on #7
yes im working on it and fixing bugs should test it by tomorrow evening

[2014-01-19 17:09] JoeGermuska commented on #7
Btw, I am not the creator of Timeline. That would be Zach Wise. I am just currently managing it's maintenance.

[2014-01-20 00:02] #7 closed, assigned to ppyordanov

[2014-01-20 02:03] ppyordanov commented on #7
Now it is working and I have tested it with mock information. There are still things to be changed but now it successfully queries the database and visualizes the information on the front end:
- start/ end time of the recording as well as the duration
- name
- event association (should tweak it further)
- description
- images displayed
- map location displayed

[2014-01-20 02:24] ppyordanov commented on #7
OK so this is how it is looking. I am going to embed the music player with the recordings on the right and on the left will appear images/ map location.

https://www.dropbox.com/s/bd3wrkopq4wf8lo/timeline.png

[2014-01-21 15:46] calxus opened #8 "User Accounts"

[2014-01-21 15:47] calxus opened #9 "Button to send all visible pins to the timeline"

[2014-01-21 15:48] calxus opened #10 "Buzz still needs to be properly integrated"

[2014-01-21 15:50] calxus opened #11 "Timeline Issues"
[X]The timeline needs to be scaled down so it only shows the lower half of the default TimelineJS view
[X]integrated to the main page
[X]Needs to be able to dynamically load data it is fed fitting in with django template system

[2014-01-22 12:29] ppyordanov commented on #11
forgot to close that

[2014-01-23 16:21] ppyordanov commented on #9
fixed once the map is loaded the json file timeline uses is updated properly with the recording objects, then they render fine, but I am struggling to make buzz work and sync the files

[2014-01-23 16:21] #9 closed, assigned to ppyordanov

[2014-01-23 16:22] ppyordanov commented on #10
still trying different approaches on synchronizing overlapping files

[2014-01-24 14:11] kaffo commented on #10
Guys who've been dealing with this. Have we _ever_ had buzz play two sounds at once? Is it a legit thing? If not then we need to stop dicking about with it and sort out a new library.

[2014-01-24 14:12] allyjweir commented on #10
buzz demo folder has one playing 3 files at once that I made

[2014-01-24 14:26] ppyordanov commented on #10
It works of course Ally has set up a demo. However, grouping files starts them at the same time, thats the issue (ovderlapping recordings starting at different times will be a situation that I dont see how buzz.group().play() is going to deal with). So we need to create separate sound objects rather than group them and save their filepaths + start times in a data structure as I mentioned. Then ite

[2014-01-24 14:32] kaffo commented on #10
Is it a legit method to group all the sounds that should be playing at the current time, then increment each sound to where it's supposed to be using .setTime(currenttime - soundstarttime) then play them all from those positons?

[2014-01-24 14:44] ppyordanov commented on #10
It is a legit method within the file replay itself - you could set the file to play from 50% the length, 1 minute, etc. But I have not discovered a way to increment start times in relation to multiple sound instances.

[2014-01-24 17:25] allyjweir opened #12 "Converting 3gpp to ogg"
Sorry to land another issue on the backend.

To cut it short, I can't record the audio as .ogg. We will need a script on the server to convert on the fly from 3gpp. I've done a little research and ffmpeg should do the trick if installed on the server and we write a small script to do it every time an upload is made.

Sorry about this guys. I am making pretty good progress on the app from the looks

[2014-01-24 18:35] allyjweir commented on #12
Amazing. Thanks for the quick implementation. I think you want the Ogg Vorbis encoder. Should be able to get it from here if you do a little digging. https://www.xiph.org/

[2014-01-27 23:27] calxus commented on #9
no button as of yet, but the functionality is there. The button itself is superficial.

[2014-01-28 15:26] allyjweir opened #13 "Dynamic django templates"
need to replace the static html pages that are currently in the application with these.

Chapter 5/6 of Tango with Django

[2014-01-28 15:27] allyjweir opened #14 "Database structure"
Schema needs to be modified to store bearing, altitude and speed along with lat, lon and time for each object in the location array

[2014-01-28 15:29] allyjweir opened #15 "map issues"
[ ]Polyline needed for arrray of locations
[ ]Put markers where there are images on the polyline
[ ]Replace default marker with projects logo

[2014-01-28 15:33] allyjweir commented on #11
[ ]The timeline needs to be scaled down so it only shows the lower half of the default TimelineJS view
[ ]integrated to the main page
[ ]Needs to be able to dynamically load data it is fed fitting in with django template system

[2014-01-28 15:34] allyjweir commented on #6
[ ]Fix links
[ ]integrate logo
[ ]fix positioning of menu/map on mobile devices
[ ]upload success screen
[ ]User page finished
[ ]Indication that the user is logged in on side menu or top bar

[2014-01-28 15:39] allyjweir commented on #8
This needs to be sorted and integrated correctly. 2 options:

1) super basic version
2) OpenID integration.

[ ]Integrate it
[ ]Interface with user.hmtl template page to fill it out
[ ]Show indication of user logged in on the menu at left or add a new bar at the top left

[2014-01-28 15:40] allyjweir commented on #10
This still hasn't been sorted...

[2014-01-28 15:43] allyjweir commented on #12
Trouble installing the required libs. Only found out through the grapevine, keep your issues up to date with all information. This could've been sorted a lot quicker if information had been shared.

Tried to do them this afternoon to no success @Kaffse fancy sorting this tonight?

[2014-01-28 16:57] calxus opened #16 "Admin controls"
Delete functionality on the back end, with a button to do so on the front end.

Ties in with #8.

On the user page just have a box with "admin controls".

Standard user can use these settings to delete their own recordings. Admin users can delete all.

[2014-01-28 17:33] calxus commented on #15
Will get working on this now

[2014-01-28 17:52] kaffo commented on #8
1. Super easy option is to basically use Django's user auth (can set that up in like 15 minutes) then have the mobile app just navigate to the server when doing any kind of user interaction.
2. OpenID would involve us having to integrate with the OpenID API. This would mean having to edit the web app to correctly talk to this as well as building the mobile app to support it by adding user pages/re

[2014-01-28 17:54] kaffo commented on #13
Surely less a case of replacing and more a case of editing the current pages to use the template-able parts? (Like the menu bar, user bar etc)

[2014-01-28 17:55] kaffo commented on #12
Shall attempt to sort out lib issues now!

[2014-01-28 21:41] kaffo commented on #12
This library is a complete bitch. I am actually fighting with it....

[2014-01-28 21:52] allyjweir commented on #6
Logo

https://drive.google.com/file/d/0B2Z3x42UkFznR3FySjJ3eHdGdm1XQjZwQUJ3S1BvdFZneGVn/edit?usp=sharing
https://drive.google.com/file/d/0B2Z3x42UkFznZk5uM25pME4zUl9sMVdPQUJvdTN5Q0wxYmJV/edit?usp=sharing

Also applicable to #15 for replacing default marker

[2014-01-28 22:01] kaffo commented on #12
So, after much googling. It turns out that the pymedia build script just doesn't support 64bit machines anymore, the last time it was updated was 2006. I've been sitting trying different solutions from the net and it's not looking good. I've looked and there doesn't seem to be any acceptable compromises... I am unsure of how to proceed if I can't get this to work.

[2014-01-28 22:01] allyjweir commented on #12
What was wrong with ffmpeg? Why was it dismissed? (If it wasn't just
forgotten)
On 28 Jan 2014 22:01, "Keir Smith" notifications@github.com wrote:

[2014-01-28 22:18] ppyordanov commented on #12
It's not been dismissed I just found suggestions for pymedia as there are many people who recommend it, especially on stack overflow. We could use ffmpeg too.

[2014-01-28 22:53] calxus commented on #15
Got the polyline working fine, but untill we can get some test lat/lon arrays in the database it cannot be properly tested

[2014-01-28 22:54] calxus commented on #15
replaced the default marker with the project logo as well

[2014-01-28 22:59] allyjweir commented on #15
Make some mock data and load it into the server using a script or manually
with the mySQL admin interface.

[2014-01-28 23:02] kaffo commented on #15
Quick python script made by copy pasting the stuff from process will have mock data in minutes.

[2014-01-28 23:12] calxus commented on #15
perfect cheers i'll look at that now

[2014-01-29 11:59] ppyordanov commented on #11
Will look into that ASAP.

[2014-01-29 17:10] calxus commented on #15
I found a good djanco article for sorting out the many locations to one recording. So i'll follow that and hopefuly should work

[2014-01-29 17:10] calxus commented on #15
https://docs.djangoproject.com/en/1.4/topics/db/examples/many_to_one/

[2014-01-29 19:19] ppyordanov commented on #12
OK this works, now I am battling with ffmpeg. //ffmpeg function convertOGG(fileName) added, only need to install ffmpeg

[2014-01-29 19:32] ppyordanov commented on #12
//W: Failed to fetch http://security.ubuntu.com/ubuntu/dists/precise-security/Release.gpg  Could not connect to wwwcache.dcs.gla.ac.uk:8080 (130.209.241.193). - connect (111: Connection refused)

[2014-01-29 20:00] ppyordanov commented on #12
Tried to do it manually too, make is not installed, yum is not installed, etc.

[2014-01-29 20:40] kaffo commented on #12
DO NOT FRET. SUPPORT IS ON THEIR WAY!

[2014-01-30 01:06] calxus commented on #15
[X]Polyline needed for arrray of locations
[ ]Put markers where there are images on the polyline
[X]Replace default marker with projects logo

2 out of 3 completed

[2014-01-30 10:48] ppyordanov commented on #15
Just to clarify something. The timeline shows the recordings as objects and lets the user switch between them, if we are to make photo/tags popups of grouped recordings' timelines we probably need to consider using something like https://developers.soundcloud.com/docs/api/sdks#javascript which at the moment I dont see how will work like buzz.

[2014-01-30 11:01] allyjweir commented on #12
Ffmpeg is now successfully installed on the server

[2014-01-30 12:40] calxus commented on #15
The photos will be on the map, not on the timeline I think. The timeline, is mainly just a visual representation of the time in which the recordings were taken.
I could be wrong with this, but that is what I thought.

[2014-01-30 13:42] ppyordanov commented on #12
Tested works.
Source: http://download.wavetlan.com/SVV/Media/HTTP/3GPAudio/test1_AMR-NB_Mono_7.95kbps_8000Hz.3GP
Output: http://penida.dcs.gla.ac.uk/static/data/test.ogg

[2014-01-30 13:44] allyjweir commented on #12
I can't download the source file. Is the audio quality of the output comparable to the source?

[2014-01-30 13:45] ppyordanov commented on #12
You need to run the server if you want to access data in the static dir.

[2014-01-30 13:59] ppyordanov commented on #12
There are now 2 functions for conversion. The 2nd is much lighter but simpler - audio quality is good. First one can manipulate bitrate, etc.

[2014-01-30 21:36] kaffo commented on #8
This is getting along nicely. Should have something done by the end of the weekend.

[2014-02-01 00:10] calxus commented on #15
[X]Polyline needed for arrray of locations
[X]Put markers where there are images on the polyline
[X]Replace default marker with projects logo

3 out of 3 completed

link to commit 4e1bcd5f4f6d865574b1d7fa0050ae19f187bb7f

There is still a lot of inadequacies with these implementations but I hopw over time they will be ironed out.

[2014-02-01 00:10] #15 closed, assigned to calxus

[2014-02-01 00:12] calxus commented on #6
Will start tackling these tomorrow

[2014-02-01 00:17] ppyordanov commented on #6
Gordon without any offence I suggest making a custom template if we have time and use the Django template structure with integrated context elements. I think that we are going to get extra points for not using a downloaded template and I am ready/ eager to help with that. ;)

[2014-02-01 00:29] calxus commented on #6
I took advice from ally for the purecss, and it works quite well. Simple and effective. imo there no point to start redesigning the website now. But if others in the group fancy making this an issue on github aswell, then I won't stand in the way.

[2014-02-01 01:08] calxus commented on #15
Thought I should say:
The map gets the information fine, the grey area lies in how it will be processed and uploaded into the database, this issue however will be threshed out when it becomes more clear how the information will be uploaded from the mobile device.
But as this does not come under the heading of map issues this issue is now completed. And the grey area will be cleared in a separate i

[2014-02-01 15:23] ppyordanov commented on #11
This timeline is giving me headaches for blocking other javascript on the page or not loading in the presence of the integrated map

[2014-02-01 17:13] ppyordanov commented on #11
I integrated the timeline on the home page and packed the javascript neatly into a separate script.

[2014-02-01 17:14] ppyordanov commented on #11
ALPHA build is done.

[2014-02-02 22:55] ppyordanov commented on #10
I'm having all sorts of trouble with synchronous/ asynchronous javascript but essentially this script will work.

[2014-02-02 22:55] ppyordanov commented on #10
PS: Once I fix the asynchronous get requests.

[2014-02-03 00:43] kaffo commented on #8
Working on this now

[2014-02-03 00:44] kaffo commented on #16
Will deal with this after #8

[2014-02-03 01:50] kaffo commented on #8
You know those moment in dev, where you sit and stare at a problem, all the code is right, all the output is right, but it just doesn't work? Yeah. That's happening.

[2014-02-03 02:47] kaffo commented on #8
Legit got users working. Now begin the horrendous task of dragging in all that user's stuff....

[2014-02-03 02:49] kaffo commented on #13
Please can we get this sorted, it will make life so much easier not having to change 4 menu bars. I can then add the login junk if it's templatable.

[2014-02-03 02:52] kaffo commented on #16
Luckily for us django already has a build in "superuser" flag for users. I think it's fair to say superusers can be our admins for the time being. I could get this working in about 5 minutes but it wouldn't be very nice. I'll speak to the team tomorrow.

[2014-02-03 03:01] calxus commented on #13
I'll get this completed by the end of tomorrow.

[2014-02-03 04:51] calxus commented on #13
As I can't sleep. This issue has been sorted.

[2014-02-03 04:54] #13 closed, assigned to calxus

[2014-02-03 06:19] calxus commented on #13
Got over excited and closed the issue prematurely. Fixed a bug with highlighting current page, runs smoothly now however.

[2014-02-03 12:23] ppyordanov commented on #14
This is done.

[2014-02-03 12:23] #14 closed, assigned to ppyordanov

[2014-02-03 12:26] #11 closed, assigned to ppyordanov

[2014-02-03 12:46] ppyordanov commented on #16
Doesn't the admin.py file do what we want?

[2014-02-03 13:53] allyjweir commented on #8
Needs a couple of things

1)Needs to show username instead of user
2)Should take the user's real name as well as username
3)Needs to check if account exists already for a username while signing up
4)Logout/login/register buttons should be at the bottom of the menu. Not mixed in with the functionality ones at the top. This will make it a lot clearer to the user what it does and where to go for stuf

[2014-02-04 12:45] kaffo commented on #8
Everything works par adding recordings to a user's account. I can display a user's recordings but can't add them. It's rather a pain in the ass.

[2014-02-04 12:59] kaffo commented on #8
Scratch that, got them saving properly, just not displaying

[2014-02-04 15:17] #8 closed, assigned to kaffo

[2014-02-10 15:43] allyjweir opened #17 "Automated Testing"
We should probably implement some form of automated testing. Something that should speed up any fixes we need to make over the coming weeks and more to write about in the dissertation

Somewhere to get started:
https://docs.djangoproject.com/en/dev/topics/testing/

[2014-02-13 12:40] calxus commented on #6
[x]Fix links
[x]integrate logo
[ ]fix positioning of menu/map on mobile devices
[x]upload success screen
[x]User page finished (Completed by Kaffse)
[x]Indication that the user is logged in on side menu or top bar (Completed by Kaffse)

[2014-02-13 12:41] calxus commented on #6
I also want to tidy up the code on the pages, which shouldn't take too long

[2014-02-13 13:20] allyjweir commented on #6
We we really need the button for selecting all recordings on the page. And the timeline on the main page

[2014-02-13 15:55] calxus commented on #6
The button should not be a problem, but adding the timeline to the page seems to be as problem. Either only the map or the timeline ending up working. However I will spend tonight doing my best to get this functional.

[2014-02-13 16:02] allyjweir commented on #6
The button is really key. Get it done first.
On 13 Feb 2014 15:55, "gtadam" notifications@github.com wrote:

[2014-02-13 16:04] calxus commented on #6
Will do

Sent from my iPhone

[2014-02-13 22:39] calxus commented on #6
Got the select all button for the recordings done.

[2014-02-13 23:59] calxus commented on #6
[x]Fix links
[x]integrate logo
[x]fix positioning of menu/map on mobile devices
[x]upload success screen
[x]User page finished (Completed by Kaffse)
[x]Indication that the user is logged in on side menu or top bar (Completed by Kaffse)
[x]The button is really key. Get it done first. (Going to have to tidy up my js)

Also we really need to test from data uploaded from the mobile device, so any prob

[2014-02-13 23:59] #6 closed, assigned to calxus

[2014-02-14 12:22] allyjweir commented on #6
I will test the application on Monday. I won't have computer access over the weekend unfortunately. Finally getting my laptop back on Sunday though so will be able to kick up spare time devel on it a little.

I can't see any issues with the code I have for it. fingers crossed

[2014-02-14 12:23] allyjweir commented on #16
Need an admin page to show if the user is an admin still. Anyone on this? @Kaffse?

[2014-02-14 13:06] ppyordanov commented on #6
(y) yes only thing to make sure is we get start time in milliseconds to be able to make a proper synchronisation and it should probably be GPS time as Keir suggested. ;)

[2014-02-14 14:39] allyjweir commented on #6
It grabs it in milliseconds. Here is the docs for the location.getTime()
method:

"Return the UTC time of this fix, in milliseconds since January 1, 1970.

Note that the UTC time on a device is not monotonic: it can jump forwards
or backwards unpredictably. So always use
getElapsedRealtimeNanos()</reference/android/location/Location.html#getElapsedRealtimeNanos()>when
calculating time deltas.

On

[2014-02-14 15:24] allyjweir commented on #6
Maybe those with android devices could pull mdrs-mobile and make a few recordings to upload to the site

[2014-02-15 21:29] allyjweir opened #18 "No menu on mobile devices"
One of @gtadam 's recent commit hides the menu completely on a mobile browser or if you resize your page on a desktop

[2014-02-15 21:30] allyjweir opened #19 "Start view"
It would be a really nice feature if we could get the Google Maps to request the user's location through the browser and then have a higher zoom level around their location.

[2014-02-15 21:31] allyjweir opened #20 "Select recordings in view button issues"
this button would be better if it could float over the map. It needs reworded to make it clear that it will be the ones in view that it selects "Select all in view" would do.
Also a button to clear it would be REALLY great

[2014-02-15 21:31] allyjweir opened #21 "Settings"
This needs finished or removed

[2014-02-15 21:32] allyjweir commented on #20
Or even a separator in the side menu and the clear button in there too if button over map is too much hassle

[2014-02-15 21:34] allyjweir opened #22 "Submit page"
Even the user accessible view needs to be just a JSON file and a .3gp. Not what we currently have

[2014-02-15 21:43] allyjweir opened #23 "Timeline on the homepage"
This needs integrated to the main page and user page. Don't care how ugly it is, just needs to be there. It is a key part of the project. Fiddle with some jQuery and JS and should be pretty trivial

[2014-02-15 22:11] calxus commented on #19
This was completed using html5 geolocation fb76888

[2014-02-15 23:10] calxus commented on #22
working on this, should hopefully get it finished tonight

[2014-02-15 23:41] kaffo commented on #21
I did wonder since I saw that what it's actually for. What settings are there exactly...?

[2014-02-15 23:43] kaffo commented on #16
Oh darn, I forgot this was still an issue. I'll go look into it. If I'm right it shouldn't be a big deal...probably.

[2014-02-15 23:45] allyjweir commented on #21
Could have an about section and just bs stuff like link to app etc.
Explanation of what the project is.

We don't really have any settings per say
On 15 Feb 2014 23:41, "Keir Smith" notifications@github.com wrote:

[2014-02-16 02:56] calxus commented on #21
removed the settings page

[2014-02-16 02:56] #21 closed, assigned to nobody

[2014-02-16 02:59] calxus commented on #22
This is implemented all but the conversion of audio, which I just don't know how to implement properly. But should come under a seperate issue maybe

[2014-02-16 02:59] #22 closed, assigned to calxus

[2014-02-16 03:02] calxus commented on #20
To make it float over the map is too messy imo. Making it more clear in the side menu is a safer bet, as was mentioned.
Will work on this tomorrow and will implement the clear button

[2014-02-16 03:06] calxus commented on #18
Trying to get this to work properly is somewhat infuriating. If anyone can get this working i'll buy them a beer.

[2014-02-16 11:48] allyjweir commented on #19
Looks good. Would be great if it showed the user's current location with a marker or dot of some form.

[2014-02-16 12:04] allyjweir opened #24 "Get upload working"
It is running into an I/O Error. Need to fix this. Also it would be great if we could somehow setup a response to confirm a successful upload from mobile. Not really sure how to do this. If anyone has an idea it has a bounty of a pint

[2014-02-16 14:34] ppyordanov commented on #10
Just a quick comment to avoid confusion - it works I tested it with overlapping files.

[2014-02-16 15:26] calxus commented on #24
sorted the error in upload. If anymore errors rear their head (Which knowing my luck they will) we can reopen this again. But as of now Ignorance is Bliss.

[2014-02-16 15:28] calxus commented on #19
I think a dot is the best course of action here, will implement this today. Pretty sweet idea actually

[2014-02-16 16:18] calxus commented on #24
There needs to be checks that a file with the same name can not be uploaded twice, or else find another way to reference a recording besides its fileName

[2014-02-16 16:30] calxus opened #25 "Info Window"
The info window that appears when you click a marker  needs to be made pretty

[2014-02-16 16:40] #12 closed, assigned to ppyordanov

[2014-02-16 16:41] ppyordanov opened #26 "Conversion after upload"
A file upload should automatically trigger file conversion from .3gp to .ogg

// @allyjweir, @gtadam and Kaffse have also helped with this ( @Kaffse contacted support to install ffmpeg)

[2014-02-16 16:41] #10 closed, assigned to ppyordanov

[2014-02-16 17:46] ppyordanov commented on #23
It is trivial but there is some javascript conflict. Will fiddle with the code again now.

[2014-02-16 18:53] ppyordanov commented on #23
Keeps saying 'loading timeline' on the home page and won't work, very frustrating.

PS: I actually sent mr @Gremuska (or whatever) an email a while back and posted on their forum about this issue - this was last time when I tried to make it work, but I have received no response from them to date.

[2014-02-16 19:01] ppyordanov commented on #23
Thread link: https://knightlab.zendesk.com/entries/31584053-Timeline-script-blocks-other-scripts

Depending on where in the html code I insert the link to the external tl.js file either the map does not show or the timeline itself cannot load.

[2014-02-16 19:24] ppyordanov commented on #18
Now the menu is hidden only if the page with is so small that the map cannot be seen at all for convenience purposes.

I left it at 300 px just to be on the safe side after a quick mobile display size research (turns out that the smallest displays/ resolution density or dpi out there is around 320 px):

http://www.binvisions.com/articles/tablet-smartphone-resolutions-screen-size-list/

[2014-02-16 19:28] #18 closed, assigned to ppyordanov

[2014-02-16 20:30] calxus commented on #23
this still blocks the javascript on the map.

also it returns all pins, as opposed to just those in view.

[2014-02-16 21:37] ppyordanov commented on #23
Ok, I've done everything I thought of, ran out of ideas.

PS: Probably what we could do is have a SYNC button (on the HomePage) to synchronise either all visible pins on the map or only those that have been selected/ marked with different filters (like location, tag, etc) this button will send the user to a page with the timeline showing all the selections with their location and play button with

[2014-02-16 21:57] ppyordanov commented on #26
I have implemented this functionality. What remains now is to test untar-ing archives as I think there might be some bugs as initially the function was designed for .3gp files.

[2014-02-16 22:03] calxus commented on #20
I added a de-select option, also made the select and de-select buttons more obvious on the page. f917960c69

[2014-02-16 22:03] #20 closed, assigned to calxus

[2014-02-16 22:04] allyjweir commented on #20
sweet

On 16 February 2014 22:03, gtadam notifications@github.com wrote:

[2014-02-16 22:20] calxus commented on #19
This has been completed, blue dot was a good idea. Works really well imo. a4aa57a740

[2014-02-16 23:20] calxus commented on #24
checks to make sure there is not already a file with the same name in the db. if so returns an error page a62bd2b5f8

[2014-02-17 09:54] allyjweir commented on #25
Made this a high priority as it is something John actively called out as needing improved. will come up with a mockup and post a picture to work from

[2014-02-17 09:55] allyjweir commented on #19
Need to re-draw the dot as the user zooms in and out. currently it doesnt

[2014-02-17 09:58] allyjweir opened #27 "No map in certain browsers"
Currently in the lab running it from the server. It doesn't show the map view in Firefox or Chromium. Works in Opera really well.

Works on my Macbook on Chrome. Could everyone give it a quick test on your OS/Browser

[2014-02-17 10:03] allyjweir opened #28 "User page"
This needs some further development:

[] Need to display a list of Users recording
[] Map view showing only the users recordings
[] Timeline of recordings

_Stretch Goals_
- Pretty d3 graphs of when the user most submits. List of stats of most common location etc. Probably a little out of reach but if anyone is really bored in the next 48 hours (not likely)

[2014-02-17 10:05] allyjweir commented on #16
Could these controls not be dumped into that settings page we just got rid of?
- Add avatar
- Change email
- Change password
- Delete account
- ...
- Profit?

[2014-02-17 10:14] allyjweir opened #29 "Opera issues"
This is happening to the upload page. a low prio but if anyone finds 10 minutes fire in.

![also](https://f.cloud.github.com/assets/3640069/2184235/4172da88-97bc-11e3-9af4-810efe1d6853.png)

[2014-02-17 10:15] allyjweir commented on #27
Map isn't showing on Android Chrome either

[2014-02-17 11:08] #29 closed, assigned to ppyordanov

[2014-02-17 11:38] ppyordanov commented on #26
It might have to do something with upload.

PS: yesterday even after I dropped my tables still did not manage to make upload working on localhost (it just does not save to the database, I might have missed something).

Upload problem introduced here:
https://github.com/Kaffse/multi-device-audio-project/issues/30

[2014-02-17 12:24] calxus commented on #27
I know the reason for this I think, it is to do with the geolocation. I will need to try and attempt to use geolocation and if not display the map. With a popup telling you how to get your location turned on.

[2014-02-17 12:24] ppyordanov opened #30 "Mobile upload problem"
Mobile upload returns input/output error.

[2014-02-17 12:24] allyjweir commented on #27
Sweet.

[2014-02-17 12:27] ppyordanov commented on #30
@allyjweir

Still getting an error when

 I am uploading. This is logged in as super. Here is the ![error](https://f.cloud.github.com/assets/3640069/2184194/865ffed8-97bb-11e3-834b-a16fe3549756.png). Bizarre. Maybe everyone with an Android phone could record a thing of them walking home tonight. Something to fill out the map a little. Will post the APK later this afternoon

Different error this ti

[2014-02-17 12:48] allyjweir opened #31 "Acknowledgement of selection of recording"
We should acknowledge with a little pop up (something jQuery probably does) or something that acknowledges that you have selected or cleared all the recordings in an area. Similar to the tweet sent thing on twitter.com
![screenshot 2014-02-17 12 47 28](https://f.cloud.github.com/assets/3640069/2185252/bc2eda14-97d1-11e3-82e3-7a718582dbdf.png)

There should be a visual indication as well. We could

[2014-02-17 13:01] allyjweir opened #32 "Select Map Style"
Add as an option in the settings/admin page for the user to choose between road map and satellite view for the maps

[2014-02-17 14:41] calxus commented on #27
Got this problem fixed it is displaying a map now even if it cannot get the location, though the popup giving you info when it cannot find the location (which you would think would be the easy bit) seems to be proving trickier than I initially thought but I'll try to implement at least some alert that geolocation has failed. And as ally said if people could test it on their browsers and if there i

[2014-02-17 14:41] #27 closed, assigned to calxus

[2014-02-17 15:35] calxus commented on #19
Rather than redrawing which isn't the issue, this was more to do with a problem of where the anchor of the dot is, this was fixed however by specifying the anchor.

[2014-02-17 15:35] #19 closed, assigned to calxus

[2014-02-17 17:12] calxus commented on #31
To show which ones are selected, the visual indication with the red outline is doable. However the popup could just end up being more hassle than it's worth in the end.
Is this something that is really needed?
The acknowledgement that it is selected could be just the red indication and the info window that opens.

[2014-02-17 17:13] allyjweir commented on #31
nah, the marker change should do. doing the pop up is jQuery. we could always come back to it if we figure it out better with DIM3.

the markers are fine on their own

[2014-02-17 17:23] calxus commented on #31
I have implemented the colour changing when the marker is clicked to represent the fact that it is selected.

Right now clicking the close on the info window de-selects it.

However I would like to change this to clicking the marker again in order to de-select it. and just keep the info window separate.

The info window would open when the marker is selected by a click on it and would only close i

[2014-02-17 17:23] #31 closed, assigned to calxus

[2014-02-17 17:31] calxus opened #33 "Implement Selection Properly"
The icon for reasons unbeknown to me, fails to change to selected about 20% of the time

[2014-02-17 22:58] calxus commented on #25
Working on this now, so that it is at least customised and info window opens at a consistent height and width. But would be helpful to see the mockup to work from as my designing skills are somewhat lacking.

[2014-02-17 23:01] calxus commented on #25
going to use an infobubble
http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobubble/examples/example.html/

[2014-02-18 00:37] calxus commented on #25
![image](https://f.cloud.github.com/assets/5579497/2190885/bd61b93e-9834-11e3-89e5-7979d3bc8689.png)

An example of the infoBubble, if people could give their comments on it.

[2014-02-18 00:38] allyjweir commented on #25
I like it
On 18 Feb 2014 00:37, "gtadam" notifications@github.com wrote:

[2014-02-18 02:01] ppyordanov commented on #25
Looks good ;)

[2014-02-18 02:03] ppyordanov commented on #28
Working on this now and testing it, cannot figure out how to solve the problem as the timeline embed script keeps blocking even buzz. This issue is so frustrating but I should be able to solve it.

[2014-02-18 02:11] ppyordanov commented on #28
Argh, this is so frustrating..

[2014-02-18 02:20] calxus commented on #25
commited this update 1c153ec

[2014-02-18 02:20] #25 closed, assigned to calxus

[2014-02-18 02:21] calxus commented on #33
The icon will now change each time, however, when you pan the map it changes back to de-selected.

[2014-02-18 02:27] calxus commented on #32
will begin to look into this tomorrow, however if someone else wants to come along and do it instead, they can take it.

[2014-02-18 03:37] calxus commented on #33
Also whether the icon chooses to be selected or not, appears to depend largely on it's mood. Good news however is that when it feels like being selected, it tends to keep working after that.

[2014-02-18 04:30] ppyordanov commented on #28
Still no luck with this..

[2014-02-18 14:10] kaffo commented on #33
From just reading this (I obviously don't know the issue indepth) I've got to assume it's because you are pulling new data every single time the map is moved or anything happens, so even though the data may be identical, it's a fresh set and it's no longer selected? In anycase, considering how completely horribly we are doing the pull from the backend (but it works!) we might just have to deal wit

[2014-02-18 14:14] kaffo commented on #28
I assume you saw my code on the user page Peter that pulls the user's recordings?

[2014-02-18 14:17] kaffo commented on #16
I think it was dealing more with the management of recordings more than the user account. I've got code ready for deleting stuff from the database and code to detect if the user is an admin. Just need the actual recordings displayed correctly to add the delete button as such.
As for user's deleting their own stuff... I've done a lot of thinking on it and I can't come up with a solution that isn't

[2014-02-18 14:21] kaffo commented on #23
Yay, workabouts disguised as features!

[2014-02-18 14:28] ppyordanov commented on #28
Yes I saw it, will change the page to work with it. There is a bug that I thought I had fixed, but still occurs sometimes - a longer track is not grouped properly by buzz and therefore not played

[2014-02-18 14:35] calxus commented on #33
Yes you are right with this, speak about it at the meeting.

[2014-02-18 16:56] allyjweir opened #34 "Universal play/stop buttons"
Need this to control the selection

[2014-02-18 17:20] allyjweir opened #35 "Controls for choosing date range of recordings to be shown with select all button"

[2014-02-19 00:56] ppyordanov commented on #28
Here is the basic user page prototype - timeline on the right - recording information/ metadata on the left with play buttons to independently play user recordings or download them, etc. More space will be freed for the map on the left.

Note that there is no styling at all - ugly as f*ck - this is a sample which I will style. Just showing here that it pulls data from the backend successfully.

![

[2014-02-19 01:12] ppyordanov commented on #23
Nope, this is a problem that needs fixing. Do you have ideas how to fix it?

[2014-02-19 20:45] calxus opened #36 "Search bar"
An option to allow users to search for recordings in the database.

I put this here because it would be something nice to be implemented, but i'm dubious as to whether we will have the time to implement it.

[2014-02-19 20:54] allyjweir commented on #28
Could we change the bubble grid to the pureCSS grids for consistency of UI?

[2014-02-19 20:55] allyjweir opened #37 "John Lewis Issue"
Just had the same problem running from the server from home. Could it possibly be storing this location in a file and using it to load from instead of using the dynamic one (from geolocation) or static zoomed out view?

[2014-02-19 20:56] allyjweir commented on #37
![johnlewisissue](https://f.cloud.github.com/assets/3640069/2211646/3915e298-99a8-11e3-8759-f27e4b13409a.PNG)

[2014-02-19 20:57] calxus commented on #30
As far as I understand upload without conversion is working, so I am going to close this issue and reopen conversion. As I understand this to be the problem.

[2014-02-19 20:57] #30 closed, assigned to nobody

[2014-02-19 21:00] calxus commented on #37
I love the name of this issue, i'll check this out.

[2014-02-19 21:03] calxus commented on #26
Re-opened as to the best of my knowledge conversion is still to be implemented into the upload functionality

[2014-02-19 21:27] calxus commented on #37
I'm going to leave this on the backburner right now. And hope it just goes away.

There are literally no logical answers as to why this should be the case, besides geolocation having a bug, whereby it chooses to sometimes say you are in a john lewis department store.

[2014-02-19 23:08] calxus commented on #23
Though there has been progress made in this issue, I find markers show on chrome but not on Firefox. I don't know yet whether this is to do with a conflict with the timeline, or for something completely unrelated.

If it does show to be unrelated during testing tomorrow, a separate issue can be made for it.

[2014-02-20 02:59] ppyordanov commented on #28
I just saw them: http://purecss.io/grids/ yeah of course. will do that later today

[2014-02-20 08:44] allyjweir commented on #28
Amazing. thanks

On 20 February 2014 02:59, ppyordanov notifications@github.com wrote:

[2014-02-20 21:19] allyjweir opened #38 "virtual env"
seemed to have missed the point of the virtual environment. All that should be in the repo is a requirements.txt. Each dev then makes their own venv on their machine and pip installs the requirements.txt

So currently we don't have one, so i've ran into issues sorting out my new hard drive for dev. Will generate a requirements.txt from the server and then add it to the repo.

This will also need c

[2014-02-20 21:25] allyjweir commented on #38
Fixed.

[2014-02-20 21:25] #38 closed, assigned to allyjweir

[2014-02-20 22:15] ppyordanov commented on #26
Turns out that the FFmpeg version we have on the server is deprecated:

**\* THIS PROGRAM IS DEPRECATED ***
This program is only provided for compatibility and will be removed in a future release. Please use avconv instead.
audio.3gp: Invalid data found when processing input

It was working about 2 weeks ago.

http://avidemux.org/smuf/index.php?topic=11407.0

http://ubuntuforums.org/showthread.php

[2014-02-21 01:52] calxus commented on #33
Got this almost working, the only problem is when markers are removed from view in the map. which tends to cause erratic behaviour. I'm going to try and get this hammered down tonight and avoid sleep.

[2014-02-21 04:05] calxus commented on #33
After spending way too long on it, I've managed to get this functional at least to my testing. If any bugs are found just raise an issue.

[2014-02-21 04:05] #33 closed, assigned to calxus

[2014-02-21 04:09] calxus commented on #34
Will get this sorted tomorrow should be a breeze with selection working properly.

[2014-02-21 05:19] ppyordanov commented on #28
Here is a quick example of how prototype v2 looks like:

play + download buttons work + the map is integrated// recording selection from the list currently adds file ids to an array and I will fully implement it by the end of this weekend. Also shows the currently synchronised files in the 'Sync at' grid box.

![alt text](http://i59.tinypic.com/70dwlx.png)

[2014-02-21 13:50] ppyordanov opened #39 "Buzz filter recordings"
I will need to tweak the code to take an array of arguments and synchronise the files  - filter the data (instead of quering all user recordings as it is now). Will work on it over the weekend along with selection on the user page.

[2014-02-21 14:09] ppyordanov opened #40 "Buzz sync play button"
The play/pause button bugs strangely after calling the 'synchronise(id)' function. It needs to be pressed 2-3 times before buzz group playback starts. I've tried to trouble shoot it, but still no luck. Will probably restructure my code and see if it works.

[2014-02-21 14:38] allyjweir commented on #24
Getting a new upload error, huzzah!
![screen shot 2014-02-21 at 14 35 38](https://f.cloud.github.com/assets/3640069/2230654/8c5c30ac-9b05-11e3-949d-3dd86089e4ce.png)

Also look in this dropbox folder for test files:
https://www.dropbox.com/sh/s26c6zlz9a8nr12/oi4-uTOC8_

[2014-02-21 14:44] calxus commented on #24
This is conversion

[2014-02-21 14:44] #24 closed, assigned to calxus

[2014-02-21 14:54] allyjweir commented on #26
Files for testing with https://www.dropbox.com/sh/s26c6zlz9a8nr12/oi4-uTOC8_

[2014-02-21 14:54] calxus commented on #26
@allyjweir

Getting a new upload error, huzzah!
https://f.cloud.github.com/assets/3640069/2230654/8c5c30ac-9b05-11e3-949d-3dd86089e4ce.png

Also look in this dropbox folder for test files:
https://www.dropbox.com/sh/s26c6zlz9a8nr12/oi4-uTOC8_

[2014-02-21 14:57] ppyordanov commented on #26
Oops that's my fault imported subprocess as sp and forgot about it. // fixed

[2014-02-21 20:11] calxus commented on #34
Added the buttons just got to sort out the js

[2014-02-21 20:13] calxus commented on #35
Although I dont believe this is pressing, it interests me and it seems pretty doable so i'm going to give this a shot tonight.

[2014-02-22 00:10] calxus commented on #23
I spent a few hours trying to find the problem with this, to little or no avail. When the Timeline is placed on the homepage, I get an error on my map when initializing markers alternating between:
InvalidValueError: setPosition: in property lat: not a number
InvalidValueError: setMap: not an instance of Map
There might be something with googlemaps in the timeline causing mischief, but I can't say

[2014-02-22 02:48] calxus commented on #23
![image](https://f.cloud.github.com/assets/5579497/2236768/2bb2c16a-9b6b-11e3-8ecc-cbddfa4e2a6d.png)

I tried this timeline and it works with no conflicts, plus you don't get that annoying top part at the top. Either I could get this working or another person could work with it. But I think it would be the quickest and most effective way to get things moving on this.

http://simile.mit.edu/timelin

[2014-02-22 16:55] ppyordanov commented on #23
I think you need to check this out: http://stackoverflow.com/questions/20585055/uncaught-invalidvalueerror-setposition-not-a-latlng-or-latlngliteral-in-prope . I will try to see what else in your code might be causing the conflict.

[2014-02-22 17:07] calxus commented on #23
I spent hours trying to fix the problem with the timeline last night, and have surprisingly thought of consulting stackoverflow already. The idea of changing the timeline does not come lightly, and it's not a problem with the timeline per se. It's just integrating has been an issue from the beginning, and very little has been achieved in doing this. I think it might be time to call it a day, and t

[2014-02-22 20:06] allyjweir commented on #23
I have to agree with Gordon here, it has been a long standing issue. We _HAVE_ to be code complete by Sunday night. There are other assessments due and an entire dissertation to write.
I understand any frustration at losing work but there comes a time when we need to cut losses and find workable solutions with the given timescale.

[2014-02-22 20:12] calxus commented on #34
Sorted out the js on the map end and it sends the recording id's. Just need the buzz stuff to be sorted

[2014-02-22 21:14] calxus commented on #35
Making good progress on this. I'm using jquery datepicker.

http://jqueryui.com/datepicker/

[2014-02-22 21:19] calxus commented on #23
After all that, it was sorted.

It occurred as a conflict between my map, and the maps that were initiated in the timeline. So when Peter removed the link to google maps from the timeline (which were not shown anyway, so no loss of functionality) This resolved the problem.

[2014-02-22 22:28] calxus commented on #35
Got this working, it's not very pretty. But if anyone has any ideas for how it should be layed out on the side. I'll be happy to do my best to make it so

[2014-02-22 22:28] #35 closed, assigned to calxus

[2014-02-23 00:29] #23 closed, assigned to ppyordanov

[2014-02-23 02:55] ppyordanov opened #41 "Recordings in view visible on timeline"
This is more of a stretch goal, it will be nice to see only the recordings that are currently rendered on the map displayed on the timeline.

[2014-02-23 03:55] calxus commented on #26
As ffmpeg seems to be deprecated, I think avconv might be the way to go here. I will give it a shot tomorrow.

[2014-02-23 03:56] calxus commented on #34
This has been added to the map, buzz just needs to be sorted.

[2014-02-23 03:56] #34 closed, assigned to calxus

[2014-02-23 15:28] ppyordanov commented on #28
I have completed the user page. Please log in and test it - upload some recordings and try to play them individually, synchronise them, etc and tell me if there are any bugs/problems.

[2014-02-23 17:33] calxus commented on #36
If I have time today I think I could add this to the homepage
http://jqueryui.com/autocomplete/

[2014-02-23 20:24] ppyordanov commented on #26
There is some problem with the .3gp files being invalid, VLC plays them but buzz does not recognise the ogg after conversion.

super@penida:/workspace/build$ avconv -i audio.3gp
avconv version 0.8.10-4:0.8.10-0ubuntu0.12.04.1, Copyright (c) 2000-2013 the Libav developers
  built on Feb  6 2014 20:56:59 with gcc 4.6.3
audio.3gp: Invalid data found when processing input

(avconv cannot recognise the

[2014-02-23 20:51] calxus commented on #36
This has now been completed, autocomplete works with the fileid, or the filename and when you click find, it zooms in on the recording
610aceb

[2014-02-23 20:56] ppyordanov commented on #26
For comparison I downloaded another 3gp file which is recogised without problems:

///
super@penida:/workspace/build$ avconv -i HelixMobileProducer_test5_3GPv5_MPEG4SP_24bit_176x144_AR1.22_30fps_K               Fx_320kbps_AAC-LC_Mono_11025Hz_24kbps.3gp
avconv version 0.8.10-4:0.8.10-0ubuntu0.12.04.1, Copyright (c) 2000-2013 the Libav developers
  built on Feb  6 2014 20:56:59 with gcc 4.6.3
[mov,m

[2014-02-23 20:59] calxus commented on #37
I was told I was in Edinburgh Waverly Station temporarily yesterday so I assume this issue is just with geolocation freaking out sometimes. I'm going to close it, but if the issue ever becomes a real problem we can reopen it again.

[2014-02-23 20:59] #37 closed, assigned to calxus

[2014-02-23 22:19] calxus commented on #36
Thought this was finished but for some reason the jquery fails on the server, will take a look at this tomorrow.

It should zoom in on the pin that you search for

[2014-02-24 01:16] calxus commented on #36
This just seemed to be the server being grumpy (lame excuse I know) but it works now, and I didn't change any of the code except alerts.

[2014-02-24 01:16] #36 closed, assigned to calxus

[2014-02-24 01:42] calxus opened #42 "Time Selector"
Through even a little use it is dawning how naive the datepicker I chose to use is, without the use of a timepicker aswell alongside it.

To implement this, functionally speaking, I don't think should be too difficult.

However to lay it out on the ui, might be a little difficult without making it look cluttered.

[2014-02-24 02:20] calxus commented on #42
This example shows how I would ideally like to select date and time

http://jonthornton.github.io/jquery-datepair/

[2014-02-24 07:41] allyjweir commented on #42
Floating button on top right corner of map which when clicked reveals a
space with time narrowing and tag search.

Or put the button on the menu and the box will appear overlaying the map
etc and goes away when finished with it
On 24 Feb 2014 02:20, "gtadam" notifications@github.com wrote:

[2014-02-24 15:21] ppyordanov commented on #26
Ok after Ally changed the file extensions from .3gp video to .aac audio avconv converts the file successfully. Here is a sample recording from today just uploaded on my profile converted from .aac to .ogg automatically: http://penida.dcs.gla.ac.uk/static/data/matpat123.ogg

!Buzz also supports .aac and plays the files but the convert functionality works and is currently integrated (can later be us

[2014-02-24 15:21] #26 closed, assigned to ppyordanov

[2014-02-24 18:51] calxus opened #43 "Control box"
based on idea from comment by ally on Time Selector #42

"put the button on the menu and the box will appear overlaying the map
etc and goes away when finished with it"

Going to put all map controls in a box that appears over the map when the button is clicked.

[2014-02-24 19:54] calxus commented on #43
Created the control box and placed everything inside, the layout is still messed up. But With just a little bit of tweaking. I should get it to be layed out correctly.

[2014-02-24 22:04] allyjweir commented on #43
nice work Gordon

On 24 February 2014 19:54, gtadam notifications@github.com wrote:

[2014-02-24 23:47] ppyordanov commented on #39
I have implemented this filter and there is a function which I have tested and works on the user page, taking an array of file ids and synchronizing them. If there are any bugs or problems that arise with this, we can open a separate issue to resolve them.

[2014-02-24 23:47] #39 closed, assigned to ppyordanov

[2014-02-24 23:53] ppyordanov commented on #28
As mentioned above the work on this issue has been completed - the user page displays only the user recordings on the timeline and I think on the map too. There is also a list of user recordings on the right which can be played both individually or synchronised.

If some bugs are found when testing they will be resolved in separate issues. I have some improvement ideas and will create new issues a

[2014-02-24 23:53] #28 closed, assigned to ppyordanov

[2014-02-25 00:03] ppyordanov commented on #40
This issue still persists but I am confident that it will be resolved - I will refactor the code and see what happens once I have some free time.

[2014-02-25 00:50] allyjweir opened #44 "possibility of user authentication from mobile upload"
I am looking into the possibility of this allyjweir/mdrs-mobile#29

Not starting on the code now but could someone look into the possibility of the upload page taking a username and password on upload?

I am using this library http://loopj.com/android-async-http/
If you goto the bottom it shows what I would be doing when sending these authentication details.

So yeah, what would it take and how ac

[2014-02-25 00:50] calxus opened #45 "Avatar"
We cold incorpotrate an avatar to user accounts, this is just an idea but by no means is necessary.

[2014-02-25 01:47] calxus commented on #44
I could look into this, tomorrow but if anyone get's there first that's and want's to take it off me. That's cool with me. There is the possibility, that if i'm looking into user's with this, that I could pair this up with the avatar.

[2014-02-25 01:58] calxus opened #46 "unpack and store images in upload."
Had a quick look and it seems images have been forgotten about on the backend. This needs to be sorted out as a high priority.

[2014-02-25 03:20] ppyordanov opened #47 "Integrate recording photos on the user page"
After unpacking the archive and saving the image files to the database we will need to display each recording's photos on the user page and/ or map bubble info popup.

I think it would be nice to place them as thumbnails on the right side as part of the recording list and also use one of them as a primary on the timeline object.

[2014-02-25 12:37] allyjweir opened #48 "Width of menu when scroll bar appears"
If you make the window shorter then it makes a mess with the scroll overlapping. Some of the strings could be modified to make them shorter (removing the '>>' etc) to solve this or make it wider

[2014-02-25 12:58] calxus commented on #48
the latest commits should not have '>>' in them

[2014-02-25 14:48] allyjweir commented on #43
It goes underneath the timeline if the window is small enough. Need to make it the dominant one

[2014-02-25 14:50] allyjweir opened #49 "upload success page is displaying incorrect menu options"
Template issues??

[2014-02-25 14:52] allyjweir opened #50 "Upload"
need to rename the file to avoid file naming issues on upload. Or just force overwrite. The storage system needs to support multiple uploads with possibly the same name

[2014-02-25 15:00] allyjweir opened #51 "Recording popup"
This needs to be consigned to a corner of the map view. otherwise it is obscuring the users view of the trail. Also need a pin for the end point

[2014-02-25 15:12] allyjweir commented on #51
z index?

[2014-02-25 15:13] allyjweir commented on #51
Also modify the field dates to be a little lighter

[2014-02-25 16:08] allyjweir opened #52 "get the timeline to centre on the current time."
Not the initial recording

[2014-02-25 16:14] allyjweir opened #53 "too many recording buttons on user page"
Need to clarify user interactions and improve flow of user interaction

[2014-02-25 16:15] allyjweir opened #54 "add a close button to the controls box"
for clarity

[2014-02-25 17:04] #48 closed, assigned to calxus

[2014-02-25 17:04] allyjweir commented on #48
solved

[2014-02-25 19:01] ppyordanov opened #55 "File name check on database save"
String spaces need to be replaced with underscores to avoid conversion failures.

[2014-02-27 18:49] ppyordanov commented on #53
I will do that.

[2014-03-02 22:28] #52 closed, assigned to ppyordanov

[2014-03-02 23:13] #55 closed, assigned to ppyordanov

[2014-03-03 00:48] #53 closed, assigned to ppyordanov

[2014-03-03 00:48] ppyordanov commented on #40
I believe this issue has been sorted now with my latest commits.

[2014-03-03 00:48] #40 closed, assigned to ppyordanov

[2014-03-03 14:12] calxus commented on #54
Going to  start working on my issues now, this one should be fairly simple. I'll just need to work with a little jquery and css.

[2014-03-03 14:52] #54 closed, assigned to calxus

[2014-03-03 16:15] #42 closed, assigned to calxus

[2014-03-03 16:23] #43 closed, assigned to calxus

[2014-03-03 16:29] calxus commented on #51
The z-index was with regards to #43 Control Box where the control box was below the timeline, I also assume that is what you are referring to with the field dates being lighter.

I will make the popup in the top right hand corner of the screen. But there will not be multiple popups when you click on a number of pins, it will just change if you click on a different one.
This will take a fair bit of

[2014-03-03 17:14] calxus commented on #51
forgot to reference commit 0572784

[2014-03-03 17:31] #51 closed, assigned to calxus

[2014-03-03 17:44] calxus commented on #49
Good eye, fixed this. I believe.

[2014-03-03 17:44] #49 closed, assigned to calxus

[2014-03-03 17:47] calxus commented on #51
If anyone has any comments on how to improve the look of the pop up, just let me know

[2014-03-03 19:02] calxus commented on #43
This box, and the control box has now been made draggable

[2014-03-03 20:23] calxus opened #56 "Integrate recording images on the map"

[2014-03-03 20:27] calxus commented on #46
going to try and make headway with this

[2014-03-03 22:16] calxus commented on #46
pictures are now stored naively in the data folder, data structure needs to be done in conjunction with storing the audio file. And of course data structure needs to be decided. Will open a separate issue for this.

Files are saved using the recording file name + "_" + picture_number + ".jpg" e.g:

recording_1.jpg recording_2.jpg

[2014-03-03 22:16] #46 closed, assigned to calxus

[2014-03-03 22:17] calxus commented on #46
forgot to reference commit 6248c13

[2014-03-03 22:19] calxus opened #57 "data structure for uploaded audio and images"

[2014-03-03 22:33] calxus opened #58 "Picture viewer to view images on homepage"

[2014-03-03 22:36] calxus commented on #58
This lightweight jquery picture viewer looks quite good

http://responsiveslides.com/

[2014-03-04 02:08] calxus commented on #58
ended up using http://slidejs.com

[2014-03-04 02:08] #58 closed, assigned to calxus

[2014-03-04 02:10] calxus commented on #56
The database will need to be resynced, as I had to change the Image model, in order to accomodate images properly in the db. As was mentioned before the images are stored properly it is just a case of file structure which is yet to be implemented.

[2014-03-04 02:10] #56 closed, assigned to calxus

[2014-03-10 16:29] calxus commented on #57
Going to look into this today, The file structure will be organised by year -> month -> day -> then a folder with the unique id of the recording as it's name which will contain the audio file and all the unpacked images.

So for example if you uploaded a recording on the 10/03/2014 the file structure would be.

![file_tree](https://f.cloud.github.com/assets/5579497/2375937/bd59956e-a870-11e3-8d91-

[2014-03-10 16:38] calxus commented on #50
This will be resolved by default with #57

[2014-03-11 11:01] ppyordanov opened #59 "Select timeline recording on pin click"

[2014-03-11 16:56] calxus commented on #57
The file structure will now be created when a file is uploaded using the date when it is uploaded (not the date it was recorded) I'm sure there will be some links that will be broken due to this. Which I will try and fix tonight.

[2014-03-11 16:56] #57 closed, assigned to calxus

[2014-03-11 16:57] calxus commented on #50
The storage system now supports this

[2014-03-11 16:57] #50 closed, assigned to calxus

[2014-03-11 18:36] calxus opened #60 "Synced audio files don't play on home page"
The "play selected" button does not work on home page, from what I can ascertain because of the function syncArray in syncSound.

The syncArray function called by syncFileArray requires USER to be defined, which may or may not be the case for the home page.

Although if it is the case, it appears that the user would not be set anyway, but I cannot be certain.

[code]

I would not like to change it

[2014-03-11 18:45] calxus commented on #57
In order to access an audio file in the new data structure use the following code

[code]

[2014-03-12 19:58] ppyordanov opened #61 "View on timeline button (user page)"
Would be nice to have a button to view each selected recording on the timeline.

[2014-03-12 20:16] calxus opened #62 "Incorrect time of recording being displayed on timeline on homepage"
As far as I can telll the incorrect time is being displayed of when a recording has been taken.

For example from the metadata for the recording 2131099660, says it was taken on [Tue, 04 Feb 2014 15:52:10] However it is not showing this on the timeline on the homepage. It says it was taken on february the 6th at 4am

![timeline](https://f.cloud.github.com/assets/5579497/2402482/912a9354-aa22-11e3-

[2014-03-12 20:35] ppyordanov commented on #61
Added to the user page.

[2014-03-12 20:35] #61 closed, assigned to ppyordanov

[2014-03-12 20:42] ppyordanov commented on #62
For me it is displayed correctly for instance if you check Lillybank jaunt:

![alt text](http://i60.tinypic.com/28i6yhc.png)

[2014-03-17 03:00] ppyordanov opened #63 "Timeline bug in Chrome"
The timeline is not showing on the user page under the latest version of Chrome. Needs a quick fix.

[2014-03-17 03:02] ppyordanov commented on #63
This has now been resolved.

[2014-03-17 03:02] #63 closed, assigned to ppyordanov

[2014-03-17 13:28] ppyordanov commented on #59
This has been implemented on the user page in the form of a hyperlink, can be styled further if anyone fancies it.

[2014-03-17 13:28] #59 closed, assigned to ppyordanov

[2014-03-17 15:31] ppyordanov opened #64 "View on timeline button styling (user page)"
Styling the hyperlink as a pure-css button. (#59)

[2014-03-17 15:33] #64 closed, assigned to ppyordanov

[2014-03-17 20:07] calxus opened #65 "Custom Selected Marker"
Would be nice to get the selected red marker integrated before the demo, currently it is just a place holder.

[2014-03-18 01:18] calxus commented on #37
I recently changed to bt infinity, now I am experiencing this john lewis issue when I never have before. I don't know what the problem is, but there has to be some sort of connection.

[2014-03-19 21:50] calxus commented on #65
used peter's red marker.

[2014-03-19 21:50] #65 closed, assigned to ppyordanov

[2014-03-20 05:19] ppyordanov commented on #47
Added photo thumbnails to the user page:
- used css styling to make it as pretty (opacity, div radius, etc) as I could
- integrated photos as small thumbnails that enlarge on mouse hover like a tooltip
- improved the styling of the user page by making other minor changes to the side panel

[2014-03-20 05:19] #47 closed, assigned to nobody

[2014-03-20 22:52] #60 closed, assigned to nobody

[2019-05-17 13:48] #16 closed, assigned to kaffo

[2019-05-17 13:48] #17 closed, assigned to nobody

[2019-05-17 13:48] #32 closed, assigned to nobody

[2019-05-17 13:48] #41 closed, assigned to nobody

[2019-05-17 13:48] #44 closed, assigned to nobody

[2019-05-17 13:48] #45 closed, assigned to nobody

[2019-05-17 13:48] #62 closed, assigned to nobody